
#
# csa_ultracpu 3.0a
#
# Spartan xc6slx25-2csg324
#

NET VD<0>	LOC=T12 | IOSTANDARD = LVTTL | TNM = "vd_tnm";	# RAMD0
NET VD<1>	LOC=R11 | IOSTANDARD = LVTTL | TNM = "vd_tnm";
NET VD<2>	LOC=V12 | IOSTANDARD = LVTTL | TNM = "vd_tnm";
NET VD<3>	LOC=V11 | IOSTANDARD = LVTTL | TNM = "vd_tnm";
NET VD<4>	LOC=R10 | IOSTANDARD = LVTTL | TNM = "vd_tnm";
NET VD<5>	LOC=T11 | IOSTANDARD = LVTTL | TNM = "vd_tnm";
NET VD<6>	LOC=T10 | IOSTANDARD = LVTTL | TNM = "vd_tnm";
NET VD<7>	LOC=V10 | IOSTANDARD = LVTTL | TNM = "vd_tnm";

NET VD<8>	LOC=U17 | IOSTANDARD = LVTTL | TNM = "vd_tnm";	# RAMD0
NET VD<9>	LOC=U18 | IOSTANDARD = LVTTL | TNM = "vd_tnm";
NET VD<10>	LOC=T17 | IOSTANDARD = LVTTL | TNM = "vd_tnm";
NET VD<11>	LOC=T18 | IOSTANDARD = LVTTL | TNM = "vd_tnm";
NET VD<12>	LOC=P15 | IOSTANDARD = LVTTL | TNM = "vd_tnm";
NET VD<13>	LOC=P16 | IOSTANDARD = LVTTL | TNM = "vd_tnm";
NET VD<14>	LOC=P18 | IOSTANDARD = LVTTL | TNM = "vd_tnm";
NET VD<15>	LOC=N15 | IOSTANDARD = LVTTL | TNM = "vd_tnm";

NET VA<0>	LOC=V14 | IOSTANDARD = LVTTL;	# RAMA0
NET VA<1>	LOC=V15 | IOSTANDARD = LVTTL;
NET VA<2>	LOC=U13 | IOSTANDARD = LVTTL;
NET VA<3>	LOC=V13 | IOSTANDARD = LVTTL;	# RAMA3/M0
NET VA<4>	LOC=P12 | IOSTANDARD = LVTTL;
NET VA<5>	LOC=U10 | IOSTANDARD = LVTTL;	# RAMA5/VS1
NET VA<6>	LOC=R8 | IOSTANDARD = LVTTL;
NET VA<7>	LOC=V9 | IOSTANDARD = LVTTL;
NET VA<8>	LOC=T8 | IOSTANDARD = LVTTL;
NET VA<9>	LOC=P8 | IOSTANDARD = LVTTL;	# RAMA9/VS0
NET VA<10>	LOC=T14 | IOSTANDARD = LVTTL;
NET VA<11>	LOC=N14 | IOSTANDARD = LVTTL;	# RAMA11/VS2
NET VA<12>	LOC=U15 | IOSTANDARD = LVTTL;
NET VA<13>	LOC=T15 | IOSTANDARD = LVTTL;
NET VA<14>	LOC=V16 | IOSTANDARD = LVTTL;
NET VA<15>	LOC=N18 | IOSTANDARD = LVTTL;
NET VA<16>	LOC=N17 | IOSTANDARD = LVTTL;
NET VA<17>	LOC=M18 | IOSTANDARD = LVTTL;
NET VA<18>	LOC=U16 | IOSTANDARD = LVTTL;

NET NVUB	LOC=P17 | IOSTANDARD = LVTTL;
NET NVLB	LOC=N16 | IOSTANDARD = LVTTL;

NET FA<12>	LOC=F11 | IOSTANDARD = LVTTL;	# FA15
NET FA<13>	LOC=E11 | IOSTANDARD = LVTTL;	# FA15
NET FA<14>	LOC=F10 | IOSTANDARD = LVTTL;	# FA15
NET FA<15>	LOC=C10 | IOSTANDARD = LVTTL;	# FA15
NET FA<16>	LOC=C8 | IOSTANDARD = LVTTL;
NET FA<17>	LOC=A8 | IOSTANDARD = LVTTL;
NET FA<18>	LOC=C9 | IOSTANDARD = LVTTL;	# FA18/HSWAP
NET FA<19>	LOC=D2 | IOSTANDARD = LVTTL;

NET D<0>	LOC=A5 | IOSTANDARD = LVTTL | TNM = "d_tnm";		# D0
NET D<1>	LOC=C5 | IOSTANDARD = LVTTL | TNM = "d_tnm";
NET D<2>	LOC=A4 | IOSTANDARD = LVTTL | TNM = "d_tnm";
NET D<3>	LOC=B4 | IOSTANDARD = LVTTL | TNM = "d_tnm";
NET D<4>	LOC=A3 | IOSTANDARD = LVTTL | TNM = "d_tnm";
NET D<5>	LOC=B3 | IOSTANDARD = LVTTL | TNM = "d_tnm";
NET D<6>	LOC=A2 | IOSTANDARD = LVTTL | TNM = "d_tnm";
NET D<7>	LOC=B2 | IOSTANDARD = LVTTL | TNM = "d_tnm";

NET A<0>	LOC=M1 | IOSTANDARD = LVTTL;	# A0
NET A<1>	LOC=T1 | IOSTANDARD = LVTTL;
NET A<2>	LOC=P2 | IOSTANDARD = LVTTL;
NET A<3>	LOC=N2 | IOSTANDARD = LVTTL;
NET A<4>	LOC=P1 | IOSTANDARD = LVTTL;
NET A<5>	LOC=N1 | IOSTANDARD = LVTTL;
NET A<6>	LOC=N3 | IOSTANDARD = LVTTL;
NET A<7>	LOC=L2 | IOSTANDARD = LVTTL;
NET A<8>	LOC=R5 | IOSTANDARD = LVTTL;
NET A<9>	LOC=L1 | IOSTANDARD = LVTTL;
NET A<10>	LOC=K2 | IOSTANDARD = LVTTL;
NET A<11>	LOC=K1 | IOSTANDARD = LVTTL;
NET A<12>	LOC=J1 | IOSTANDARD = LVTTL;
NET A<13>	LOC=H2 | IOSTANDARD = LVTTL;
NET A<14>	LOC=H1 | IOSTANDARD = LVTTL;
NET A<15>	LOC=F1 | IOSTANDARD = LVTTL;

NET VPA		LOC=P4 | IOSTANDARD = LVTTL;	# VPA
NET VDA		LOC=E3 | IOSTANDARD = LVTTL;	# VDA

NET NIOSEL	LOC=A9 | IOSTANDARD = LVTTL;	# /IOSEL

NET NVRAMSEL	LOC=P11 | IOSTANDARD = LVTTL;	# /RAMCS/M1
NET RAMRWB	LOC=T9 | IOSTANDARD = LVTTL;	# /RAMWE

NET NFRAMSEL	LOC=A7 | IOSTANDARD = LVTTL;	# /FRAMSEL
NET NFRAMLB	LOC=B6 | IOSTANDARD = LVTTL;	# /FRAMSEL
NET NFRAMUB	LOC=A6 | IOSTANDARD = LVTTL;	# /FRAMSEL

NET GRAPHIC	LOC=A11 | IOSTANDARD = LVTTL | PULLUP;	# GRAPHIC
NET PET_VSYNC	LOC=L4 | IOSTANDARD = LVTTL;	# PET_VSYNC

NET Q50M	LOC=C11 | IOSTANDARD = LVTTL;	# 50M
NET Q50M	BUFG=CLK;
NET Q50M 	PERIOD=20;

#NET DBG		LOC=P137 | IOSTANDARD = LVTTL;
NET RWB		LOC=A10 | IOSTANDARD = LVTTL;	#LOC=P134;	# R/-W
NET NRES	LOC=A15 | IOSTANDARD = LVTTL;	# /RES
NET NRES	BUFG=SR;

NET NIRQ 	LOC=E16 | IOSTANDARD = LVTTL;
NET NNMI	LOC=F16 | IOSTANDARD = LVTTL;
NET NABORT	LOC=C2  | IOSTANDARD = LVTTL;

#NET MLB		LOC=P21 | IOSTANDARD = LVTTL;
NET VPB			LOC=F3 | IOSTANDARD = LVTTL;
NET E			LOC=E1 | IOSTANDARD = LVTTL;
#NET MX			LOC=P24 | IOSTANDARD = LVTTL;

NET PHI2		LOC=D1 | IOSTANDARD = LVTTL;

NET RDY			LOC=B11 | IOSTANDARD = LVTTL;

NET EXTIO		LOC=A14 | IOSTANDARD = LVTTL;
NET IOINH		LOC=B14 | IOSTANDARD = LVTTL;
NET NMEMSEL		LOC=A16 | IOSTANDARD = LVTTL;
NET nbe_out		LOC=B9 | IOSTANDARD = LVTTL;	# /BE_OUT
NET nbe_dout		LOC=B8 | IOSTANDARD = LVTTL;	# /BE_DOUT
NET be_in		LOC=A13 | IOSTANDARD = LVTTL;
NET SYNC		LOC=D17 | IOSTANDARD = LVTTL;

NET CPHI2		LOC=D18 | IOSTANDARD = LVTTL;
NET C2PHI2		LOC=C17 | IOSTANDARD = LVTTL;
NET C8PHI2		LOC=C18 | IOSTANDARD = LVTTL;

#NET PXL_OUT<0>		LOC=P93 | IOSTANDARD = LVTTL | PERIOD=40;	# IBOUT
#NET PXL_OUT<1>		LOC=P94 | IOSTANDARD = LVTTL | PERIOD=40;	# BOUT
#NET PXL_OUT<2>		LOC=P74 | IOSTANDARD = LVTTL | PERIOD=40;	# IGOUT
#NET PXL_OUT<3>		LOC=P95 | IOSTANDARD = LVTTL | PERIOD=40;	# GOUT
#NET PXL_OUT<4>		LOC=P105 | IOSTANDARD = LVTTL | PERIOD=40;	# IROUT
#NET PXL_OUT<5>		LOC=P97 | IOSTANDARD = LVTTL | PERIOD=40;	# ROUT
#NET HSYNC	LOC=P99 | IOSTANDARD = LVTTL;	# HSYNC
#NET VSYNC	LOC=P98 | IOSTANDARD = LVTTL;	# VSYNC

NET HDMI_D0_N           LOC=U5 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # IBOUT
NET HDMI_D0_P           LOC=V5 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # BOUT
NET HDMI_D1_N           LOC=U7 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # IGOUT
NET HDMI_D1_P           LOC=V7 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # GOUT
NET HDMI_D2_N           LOC=U8 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # IROUT
NET HDMI_D2_P           LOC=V8 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # ROUT
NET HDMI_CK_N 		LOC=T4 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # HSYNC
NET HDMI_CK_P      	LOC=V4 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # VSYNC

NET HDMI_HPD_SRC	LOC=K3;

#NET SPI_SELA		LOC=P38 | IOSTANDARD = LVTTL;	# SPISELA/CSO_B
#NET SPI_SELB		LOC=P29 | IOSTANDARD = LVTTL;
#NET SPI_SELC		LOC=P27 | IOSTANDARD = LVTTL;
NET SPI_NSEL5		LOC=H17 | IOSTANDARD = LVTTL;
NET SPI_FLASH		LOC=H18 | IOSTANDARD = LVTTL;
NET SPI_NSEL2		LOC=J18 | IOSTANDARD = LVTTL;
NET SPI_NSEL3		LOC=K17 | IOSTANDARD = LVTTL;
NET SPI_NSEL4		LOC=K18 | IOSTANDARD = LVTTL;

NET SPI_OUT		LOC=T13 | IOSTANDARD = LVTTL;	# SPI_MOSI
NET SPI_CLK		LOC=R15 | IOSTANDARD = LVTTL;	# SPI_CLK/CCLK
NET SPI_IN1		LOC=R13 | IOSTANDARD = LVTTL; # | PULLUP;	# SPI_MISO/DIN

NET SPI_IN3		LOC=E18 | IOSTANDARD = LVTTL | PULLUP;

NET I2C_SDA		LOC=N4;
NET I2C_SCL		LOC=L3;

NET SPI_NAUDIO		LOC=U1 | IOSTANDARD = LVTTL;
NET SPI_ACLK		LOC=T2 | IOSTANDARD = LVTTL;
NET SPI_AMOSI		LOC=U2 | IOSTANDARD = LVTTL;
NET NLDAC		LOC=T3 | IOSTANDARD = LVTTL;

NET CPU_NBE		LOC=F5 | IOSTANDARD = LVTTL;

#NET INIT_B		LOC=P | IOSTANDARD = LVTTL;

INST "NFRAMSEL"					TNM = "ram_tnm";
INST "NVRAMSEL"					TNM = "ram_tnm";
INST "RAMRWB"						TNM = "ram_tnm";

INST "SPI_CLK"						BUFG=CLK | TNM = "dotclk_tnm";
#INST "clocky/memclk_int"		BUFG=CLK;
INST "top_c/clocky/dotclk_int_1"		BUFG=CLK | TNM = "dotclk_tnm";
INST "q50m"							TNM = "qclk_tnm";
#INST "viccy/vid_fetch"			BUFG=CLK | TNM = "vidfetch_tnm";
TIMESPEC "ts_dotclk" = FROM "qclk_tnm" TO "dotclk_tnm" 3 ns DATAPATHONLY;
#TIMESPEC "ts_vidfetch" = FROM "qclk_tnm" to "vidfetch_tnm" 3 ns DATAPATHONLY;
#TIMESPEC "ts_ram" = FROM "qclk_tnm" TO "ram_tnm" 4 ns DATAPATHONLY;

TIMESPEC "ts_vwrite"	= FROM "d_tnm" to "vd_tnm" 7 ns DATAPATHONLY;

